.summary {
    padding: var(--padding);
}

.sectionTitle {
    font-weight: var(--fw-bold);
    font-size: var(--fs-600)

}

.gridFlow {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.gridFlow[data-spacing="large"] {
    gap: 2rem;
}

.button {
    color: var(--clr-neutral-100);
    line-height: 1;
    background: var(--clr-neutral-700);
    padding: 1rem 2rem;
    border: 0;
    border-radius: 100vw;
    cursor: pointer;
}

.button:hover,
.button:focus-visible {
    background: var(--gradient-primary);
}
